body 
    {
        background-color: #ffe4c4;
    }

h1
    {   
        font-family: monospace;
        color: darkgreen;
        margin-left: 40px;
        margin-top: 80px;
        
    }

.work 
    {   font-family: serif;
        font-size: 12px;
        color: #2367c0;
        margin-left:105px ;
        text-transform: uppercase;

    }

img 
    {   position: fixed;
        margin-top: -50px;
        width: 330px;
        height: 380px;
        margin-left:10px;
        border-style: solid;
        border-color: #0c0e0c;
        border-width: 5px;
        border-radius: 10px;
    }

.projects
    {   font-family: monospace;
        color: darkgreen;
        margin-top: -100px;
        padding-right: 40px;
        float: right;
        line-height: 30px;
        font-weight: bold;
    }
