body 
    {
        background-color: #ffe4c4;
        font-family: monospace;
        border-style: solid;
        border-width: 20px;
        border-radius: 10px;
        border-color: darkolivegreen;
        padding-bottom:10px;
    
    }
.heading 
    {
        color: #ffe4c4;
        background-color: darkolivegreen;
        font-weight: 30px;
        font-size: 30px;
        text-align: center;
        border-style: solid;
        margin-left:35%;
        border-width: 10px;
        border-radius: 10px;

    }

h1
    {   
        
        color: darkgreen;
    
        
    }

h2  
    {
        text-decoration: underline;
    }

.work 
    {   font-family: serif;
        font-size: 12px;
        color: #2367c0;
        margin-left:5% ;
        margin-top: -200px;
        text-transform: uppercase;
        padding-bottom: 50px;
        margin-right: 10px;
    }

img 
    {   position: sticky;
        margin-bottom:-20%;
        margin-top:1em;
        width: 330px;
        height: 300px;
        margin-left:30%;
        border-style: solid;
        border-color:darkolivegreen;
        border-width: 5px;
        border-radius: 10px;
    }

.projects
    {  
        color: darkgreen;
        margin-top: -330px;
        padding-right: 20px;
        float: right;
        line-height: 30px;
        font-weight: bold;
    }

.projects h2   
    {
        background-color: darkolivegreen;
        color:  #ffe4c4;
        padding-left: 30px;
        padding-right: 100px;

    }   

.about
    {   
        background-color: darkolivegreen;
        text-align: center;
        margin-top: -20px;
        padding-top: 5px;
        padding-bottom:20px ;
    }

.details h2
    {
        margin-left: 40px;
        color: darkgreen;
        text-decoration: underline;
        
    }

table 
    {   background-color: darkolivegreen;
        width: 50%;
        
    }

table, th, td
    {
        border: 2px solid darkolivegreen;
        border-color: #ffe4c4;
    }

.details ul 
    {   background-color: darkolivegreen;
        color: black;
        float: left;
        margin-top: -550px;
        margin-right: 20px;
        padding-bottom: 80px;
        padding-right: 40px;
    }

.details li 
    {
        color:black;
        font-size: 17px;
        line-height: 30px;
    }
 
.details ul h2 
    {   
        color: #ffe4c4;
    }

.imp
    {
        color: #0934c2;
        font-style: italic;
    }

.up
    {   
        background-color: darkolivegreen;
        border-color: darkolivegreen;
        overflow:hidden;
       
    }

.up li 
    {   
        text-align: center;
        padding:10px;
        float: left;
        margin-left: 150px;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: -100px;
    }

.form 
    {   
       
        float: right;
        color: darkolivegreen;
        margin-top:-580px;
        padding-right: 100px;
    }

.exp h2 
    {   text-align: center;
        color: darkolivegreen;
    }
.exp 
    {
        text-indent: 10px;
    }

@media screen and (max-width: 550px) {
        body {
            background-color: darkred;
            text-align: left;
            border-color: darkred;
        }
        .form 
            {
                text-align: left;
                margin-top: 40px;
                margin-left: -20px;
                
            }
        img
            {
                width: 30%;
                height:30%;
                padding-bottom: 20px;
                margin-left: -1em ;
                margin-top: 1em;
               
                
            }
        .projects
            {
            color: darkred;
              padding: 20em; 
              padding-top: 50px ; 
              padding: right: 2px;
              display: none;
            }
        .about 
            {
                color: darkseagreen;
                
            }
    }