body 
    {
        background-color: #ffe4c4;
        font-family: monospace;
        border-style: solid;
        border-width: 20px;
        border-radius: 10px;
        margin:-2px;
        border-color: darkolivegreen;
    }

h1
    {   
        
        color: darkgreen;
        margin-left: 60px;
        margin-top: 100px;
        
    }

h2  
    {
        text-decoration: underline;
    }

.work 
    {   font-family: serif;
        font-size: 12px;
        color: #2367c0;
        margin-left:90px ;
        margin-top: -200px;
        text-transform: uppercase;
        padding-bottom: 50px;
        margin-right: 10px;
    }

img 
    {   position: sticky;
        margin-top: -80px;
        width: 330px;
        height: 300px;
        margin-left:300px;
        border-style: solid;
        border-color:darkolivegreen;
        border-width: 5px;
        border-radius: 10px;
    }

.projects
    {  
        color: darkgreen;
        margin-top: -330px;
        padding-right: 20px;
        float: right;
        line-height: 30px;
        font-weight: bold;
    }

.projects h2   
    {
        background-color: darkolivegreen;
        color:  #ffe4c4;
        padding-left: 30px;
        padding-right: 100px;

    }   

.about
    {   
        background-color: darkolivegreen;
        text-align: center;
        margin-top: -20px;
        padding-top: 5px;
        padding-bottom:20px ;
    }

.details h2
    {
        margin-left: 40px;
        color: darkgreen;
        text-decoration: underline;
        
    }

table 
    {   background-color: darkolivegreen;
        width: 50%;
        
    }

table, th, td
    {
        border: 2px solid darkolivegreen;
        border-color: #ffe4c4;
    }

.details ul 
    {   background-color: darkolivegreen;
        color: black;
        float: left;
        margin-top: -550px;
        margin-right: 20px;
        padding-bottom: 80px;
        padding-right: 40px;
    }

.details li 
    {
        color:black;
        font-size: 20px;
        line-height: 30px;
    }
 
.details ul h2 
    {
        margin-right: 50px;
        color: black;
    }

.imp
    {
        color: #0934c2;
        font-style: italic;
    }

.up
    {   
        background-color: darkolivegreen;
        border-color: darkolivegreen;
        overflow:hidden;
       
    }

.up li 
    {   
        text-align: center;
        padding:10px;
        float: left;
        margin-left: 150px;
        line-height: 20px;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: -100px;
    }

.form 
    {   
       
        float: right;
        color: darkolivegreen;
        margin-top:-230px;
        padding-right: 100px;
    }