body 
    {
        background-color: #ffe4c4;
    }

h1
    {   
        font-family: monospace;
        color: darkgreen;
        margin-left: 60px;
        margin-top: 100px;
        
    }

.work 
    {   font-family: serif;
        font-size: 12px;
        color: #2367c0;
        margin-left:90px ;
        margin-top: -200px;
        text-transform: uppercase;
        padding-bottom: 50px;
        padding-right: 20px;

    }

img 
    {   position: sticky;
        margin-top: -80px;
        width: 330px;
        height: 300px;
        margin-left:300px;
        border-style: solid;
        border-color:darkolivegreen;
        border-width: 5px;
        border-radius: 10px;
    }

.projects
    {   font-family: monospace;
        color: darkgreen;
        margin-top: -330px;
        padding-right: 40px;
        float: right;
        line-height: 30px;
        font-weight: bold;
    }

.about
    {   
        background-color: darkolivegreen;
        font-family: monospace;
        text-align: center;
        margin-top: -20px;
        padding-top: 5px;
        padding-bottom:20px ;
    }

